* {
	font-family: 'Source Sans Pro', -apple-system, BlinkMacSystemFont, 'Segoe UI',
		Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

* {
	margin: 0px;
	padding: 0px;
}

ul {
	list-style-type: none;
}

.container {
	height: 100vh;
	display: grid;
	grid-template-columns: 1fr 4fr 1fr;
	grid-template-rows: 1fr 10fr;
	grid-template-areas:
		'header header header'
		'sidebar main main';
}

.header {
	grid-area: header;
	display: grid;
	grid-template-columns: 1.4fr 2.5fr 1.4fr;
	grid-template-rows: 1fr;
	grid-template-areas: 'sidehead searchbar profile';
	box-shadow: 0 5px 5px #e2e8f0;
	z-index: 1;
}

.dashboardheader {
	grid-area: sidehead;
	padding-left: 40px;
	align-items: center;
	display: flex;
	gap: 20px;
	background-color: white;
	width: 100%;
	height: 100%;
	box-shadow: 2px 2px 5px rgb(36, 35, 35);
	border-radius: 6px;
}

.dashboardheader h3 {
	font-size: 2rem;
	font-weight: bold;
	color: #776d6d;
}

.headTitle {
	grid-area: searchbar;
	text-align: center;
	margin: auto auto;
	font-size: 2.3rem;
	color: rgb(226, 138, 226);
}

.userinfo {
	border: 2px solid blue;
	display: flex;
	gap: 5%;
	align-items: center;
}

.bellBox {
	border: 3px solid green;
	height: 100%;
	width: 30%;
}
.bell {
	width: 60%;
	border: 2px solid purple;
}

.searchField {
	display: flex;
	align-items: center;
	gap: 5px;
	border: 2px solid red;
}

input[type='text'] {
	border-radius: 8px;
	padding: 10px;
}

.profile {
	justify-self: center;
	border-radius: 50%;
	width: 4em;
	height: 4em;
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 20px;
	color: #ffffff;
}

.greeting > .profile {
	justify-self: end;
	margin-right: 15px;
	font-size: 26px;
	padding: 15px;
}

#user-greeting > p {
	font-weight: bold;
	font-size: 1.4rem;
}

#user-greeting > h3 {
	font-size: 2rem;
}

/* .btn-container > button {
	border: none;
	border-color: black;
	border-radius: 25px;
	padding: 8px 30px;
	font-size: 1rem;
	color: #ffffff;
	margin-right: 30px;
	background-color: thistle;
} */

.header-btn:hover {
	background-color: plum;
}

.side-bar {
	z-index: 2;
	grid-area: sidebar;
	background-color: thistle;
	color: #fff;
	font-size: 1em;
}
.side-bar h3 {
	width: 120%;
	padding: 10%;
	background-color: white;
	color: black;
}

.side-bar > div > ul {
	list-style-type: none;
	width: 100%;
}

.side-bar > div > ul > li {
	display: flex;
	align-items: center;
	padding: 4% 5px 5px 12%;
	list-style-type: none;
	margin-bottom: 20px;
	font-size: 1.4rem;
}

.side-bar > div > ul > li > img {
	height: 30%;
	padding-right: 2%;
}

.links > ul > li:hover {
	background-color: plum;
}

.secondary-links > ul > li:hover {
	background-color: plum;
}

.secondary-links {
	font-size: 1.4rem;
	margin-bottom: 20px;
}

.content {
	padding-top: 2%;
	grid-area: main;
	background-color: #f1f5f9;
}

.projects {
	padding: 10px;
	display: grid;
	grid-template-columns: 30% 2fr;
	grid-template-rows: 20% 4fr;
	padding-left: 50px;
	gap: 20px;
	grid-template-areas:
		'card head'
		'body body';
}

.project {
	box-sizing: border-box;
	border-radius: 10px;
	background-color: #fff;
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 20%;
	font-size: 1.6rem;
	box-shadow: 4px 4px 20px grey;
	text-align: center;
}

.block {
	height: 5vh;
	padding: 5%;
	margin: 20px;
	border-radius: 8px;
}

.question {
	background-color: rgb(229, 138, 229);
	box-shadow: 4px 5px 5px grey;
	white-space: pre-line;
}

.answer {
	background-color: #fff;
	border: 1px solid grey;
	box-shadow: 4px 5px 5px grey;
}
.action-block {
	display: flex;
	flex-direction: column;
}

.action-block > img:hover {
	background-color: plum;
}

.btnBody {
	grid-area: head;
	display: flex;
	gap: 10px;
	flex-direction: column;
	align-items: center;
	text-transform: uppercase;
}

.btnBody .button {
	color: #3a3a3a;
	font-size: 2.4rem;
	font-weight: bold;
	width: 90%;
	height: 90%;
	background-color: white;
	border: none;
	border-radius: 8px;
	box-shadow: 4px 4px 10px grey;
}
